<div class="container">
  <div class="row">
    <div class="col-md-2">
      <section>
      <div id="user_info_<%= @user.id %>">
        <%= render 'users/shared/user_info', user: @user, total_likes: @total_likes %>
      </div>
      <% if @user == current_user %>
        <%= render 'users/shared/maybe_friends', users: @users %>
      <% end %>
      </section>
    </div>
    <div class="col-md-10">
      <section>
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" class="active"><%= link_to "ホーム", user_path(@user) %></li>
          <li role="presentation"><%= link_to "授業アイデア(#{@user.lessons.count})", own_lessons_user_path(@user) %></li>
          <li role="presentation"><%= link_to "悩み相談(#{@user.counsels.count})", own_counsels_user_path(@user) %></li>
          <li role="presentation"><%= link_to "メッセージ(#{@user.messages.count})", user_messages_path(@user) %></li>
          <li role="presentation"><%= link_to "ブックマーク(#{@user.lesson_bookmarks.count})", lesson_bookmarks_user_path(@user) %></li>
        </ul>
        <div class="user-image">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar.variant(resize: "400x300"), class: "img-responsive img-thumbnail" %>
          <% else %>
            <%= image_tag("default_user.png", size: "400x300", class: "img-responsive img-thumbnail") %>
          <% end %>
        </div>
        <ul class="list-unstyled">
          <li>
            <p class="user-name"><%= @user.last_name %> <%= @user.first_name %> 先生  <span id="follow_<%= @user.id %>"><%= render 'users/shared/follow', user: @user%></span></p>
            
          </li>
          <li>
            <p class="profile-item">学校種</p>
            <p class="user-info"><%= @user.school_type %></p>
          </li>
          <li>
            <p class="profile-item">所属所在地</p>
            <p class="user-info"><%= @user.prefecture %></p>
          </li>
          <li>
            <p class="profile-item">所属</p>
            <p class="user-info"><%= @user.school_name %></p>
          </li>
          <li>
            <p class="profile-item">教科</p>
            <p class="user-info"><%= @user.subject %></p>
          </li>
          <li>
            <p class="profile-item">教員歴</p>
            <p class="user-info"><%= @user.year %>年</p>
          </li>
          <li>
            <p class="profile-item">自己紹介</p>
            <p class="user-info"><%= @user.introduction %></p>
          </li>
        </ul>
        <% if @user == current_user %>
          <span><%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-default" %></span>
        <% end %>
      </section>
    </div>
  </div>
</div>
