<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!-- サイドバー -->
      <section>
      <div id="user_info_<%= @user.id %>">
        <%= render 'users/shared/user_info', user: @user, total_likes: @total_likes %>
      </div>
      <br>
      <% if @user == current_user %>
        <%= render 'users/shared/maybe_friends', users: @users %>
      <% end %>
      </section>
    </div>
    <div class="col-md-10">
      <!-- メニュータブ -->
      <section>
        <%= render 'users/shared/mypage_tab', path: @path, user: @user %>
      </section>

      <!-- ユーザー情報 -->
        <div class="user-image">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar.variant(resize: "400x300"), class: "img-responsive img-thumbnail" %>
          <% else %>
            <%= image_tag ("default_user.png", size: "400x300", class: "img-responsive img-thumbnail") %>
          <% end %>
        </div>
        <ul class="list-unstyled">
          <li>
            <p class="user-name"><%= @user.last_name %> <%= @user.first_name %> 先生  <span id="follow_<%= @user.id %>"><%= render 'users/shared/follow', user: @user%></span></p>
            
          </li>
          <li>
            <p class="profile-item">学校種</p>
            <p class="user-info"><%= @user.school_type %></p>
          </li>
          <li>
            <p class="profile-item">所属所在地</p>
            <p class="user-info"><%= @user.prefecture %></p>
          </li>
          <li>
            <p class="profile-item">所属</p>
            <p class="user-info"><%= @user.school_name %></p>
          </li>
          <li>
            <p class="profile-item">教科</p>
            <p class="user-info"><%= @user.subject %></p>
          </li>
          <li>
            <p class="profile-item">教員歴</p>
            <p class="user-info"><%= @user.year %>年</p>
          </li>
          <li>
            <p class="profile-item">自己紹介</p>
            <p class="user-info"><%= @user.introduction %></p>
          </li>
        </ul>

        <!-- アカウント設定ボタン -->
        <% if @user == current_user %>
          <ul class="list-unstyled list-inline">
            <li>
              <%= link_to edit_user_path(@user), class: "btn btn-default" do %>
                <i class="fas fa-user-circle"></i> プロフィール編集
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path, class: "btn btn-default" do %>
                <i class="fas fa-id-card"></i> アカウント設定
              <% end %>
            </li>
          </ul>
        <% end %>
      </section>

      <!-- 戻るボタン -->
      <div><%= link_to "戻る", users_path %></div>

    </div>
  </div>
</div>
