<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h2>悩み相談編集</h2>

      <%= form_with(model: @counsel, url: counsel_path(@counsel), method: :patch, local: true) do |f| %>

      <div class="input-group">
        <%= f.label :category, "カテゴリー" %><br />
        <%= f.select :category, Counsel.categories.keys, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :title, "タイトル" %><br />
        <%= f.text_field :title, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, "悩み相談について" %><br />
        <%= f.text_area :description, autofocus: true, rows: 10, class: 'form-control' %>
      </div>

      <div class="actions text-center">
        <%= f.submit "変更を保存する", class: "btn btn-success" %>
      </div>

      <!-- 戻るボタン -->
      <div><%= link_to "戻る", :back %></div>

      <% end %>
    </div>
  </div>
</div>
