<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/shared/counsel_category' %>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <!-- ユーザについて -->
      <section>
        <div class="media">
          <!-- 退会済みユーザ対応 -->
        <% if @counsel.user_deleted?(@counsel.user) %>
          <%= link_to "#", class: "media-left" do %>
            <%= image_tag "default_user.png", size: "100x100" %>
          <% end %>
        <% else %>
          <!-- プロフィール画像 -->
          <% if @counsel.user.avatar.attached? %>
            <%= link_to @counsel.user, class: "media-left" do %>
              <%= image_tag @counsel.user.avatar.variant(resize: "100x100") %>
            <% end %>
          <% else %>
            <%= link_to @counsel.user, class: "media-left" do %>
              <%= image_tag "default_user.png", size: "64x64" %>
            <% end %>
          <% end %>
        <% end %>
        <div class="media-body" >
          <!-- ユーザー情報 -->
          <h3 class="media-heading">
            <h3 class="media-heading">
            <!-- 退会済ユーザー対応 -->
            <% if @counsel.user_deleted?(@counsel.user) %>
              退会済みの先生
            <% else %>
              <%= link_to user_path(@counsel.user) do %>
                <%= @counsel.user.last_name %> <%= @counsel.user.first_name %>
              <% end %>
            <% end %>
            <!-- フォローボタン -->
            <% unless @counsel.user_deleted?(@counsel.user) %>
              <span id="follow_<%= @counsel.user.id %>"><%= render 'users/shared/follow', user: @counsel.user %></span>
            <% end %>
          </h3>
        </div>
      </section>
       <!-- 悩み相談について -->
      <section>
        <!-- 悩み相談情報 -->
        <h2>
          <%= @counsel.title %>
        </h2>
          <ul class="list-unstyled list-inline">
            <li><span class="label label-default"><%= @counsel.category %></span></li>
            <li><%= @counsel.created_at.to_s(:datetime) %></li>
          </ul>

        <!-- 本文 -->
          <p><%= @counsel.description %></p>

        <!-- 編集・削除ボタン -->
        <% if current_user.own_counsel?(@counsel) %>
        <ul class="list-unstyled list-inline text-right">
          <li>
          <%= link_to edit_counsel_path(@counsel) do %>
            <i class="fas fa-edit"></i> 編集する
          <% end %>
          </li>
          <li>
          <%= link_to counsel_path(@counsel), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"} do %>
            <i class="far fa-trash-alt"></i> 削除する
          <% end %>
          </li>
        </ul>
        <% end %>
      </section>
      <hr>

      <!-- コメント -->
      <section>
        <span id="counsel_comment_counts">
          <i class="far fa-comments"></i> アドバイス 全<%= @counsel_comments.count %>件
        </span>
        <!-- コメントフォーム -->
        <div class="form-group">
          <%= form_with model: [@counsel, @counsel_comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, autofocus: true, rows: 5, placeholder: "アドバイスを記入してください", class: "form-control" %>
          </div>
          <div class="action text-right">
            <%= f.submit "投稿", class: "btn btn-sm btn-success" %>
          </div>
          <% end %>
        </div>
        <!-- コメント一覧 -->
        <div id="counsel_comment_area">
          <% @counsel_comments.each do |counsel_comment| %>
            <%= render 'users/shared/counsel_comment_index', counsel_comment: counsel_comment %>
          <% end %>
        </div>
      </section>

      <!-- 戻るボタン -->
      <div><%= link_to "戻る", counsels_path %></div>

    </div>
  </div>
</div>