<div>
  <p>知り合いかも？</p>
  <table>
   <tbody>
      <% users.each do |user| %>
      <tr>
          <td>
            <%= link_to user_path(user) do %>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar.variant(resize: "50x50") %>
            <% else %>
              <%= image_tag("default_user.png", size: "50x50") %>
            <% end %>
            <ul>
              <li><%= user.school_name %></li>
              <li><%= user.last_name+user.first_name %></li>
            </ul>
            <% end %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>