<div class="maybe-friends-sidebar">
  <p><strong>知り合いかも？</strong></p>

  <% users.each do |user| %>
    <!-- プロフィール画像 -->
    <% unless user.followed_by?(current_user) %>
      <div class="media">
        <% if user.avatar.attached? %>
          <%= link_to user_path(user), class: "media-left" do %>
            <%= image_tag user.avatar.variant(resize: "55x55") %>
          <% end %>
        <% else %>
          <%= link_to user_path(user), class: "media-left" do %>
          <%= image_tag "default_user.png", size: "55x55" %>
          <% end %>
        <% end %>

      <!-- ユーザー情報 -->
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to user_path(user) do %>
            <%= user.last_name %> <%= user.first_name %>
          <% end %>
        </h4>
        <p><%= user.school_name %></p>
      </div>
      <hr>
    </div>
    <% end %>
  <% end %>
</div>