<div class="container">
  <div class="row">
    <div class="col-md-2">
    <!-- カテゴリー検索 -->
    <section>
      <%= render 'admins/shared/lesson_category' %>
    </section>
    </div>

     <!-- 授業アイデア一覧 -->
    <div class="col-md-10">
      <section>
        <h2><%= @title %></h2>
        <!-- 件数 -->
        <p><%= @lessons.offset_value %>〜<%= @lessons.offset_value + @lessons.length %>件を表示 (全 <%= @lessons.total_count %> 件)</p>

        <!-- ページャ -->
        <div class="text-center">
          <%= paginate @lessons %>
        </div>


        <% @lessons.each do |lesson| %>
          <div class="media">
            <div class="media-body">
              <!-- ユーザー情報 -->
              <ul class="list-unstyled list-inline">
                <li>
                  <%= link_to admins_user_path(lesson.user_id) do %>
                    <% if lesson.user_deleted?(lesson.user)%>
                      <%= lesson.user.last_name %> <%= lesson.user.first_name %>(退会済)
                    <% else %>
                      <%= lesson.user.last_name %> <%= lesson.user.first_name %>
                    <% end %>
                  <% end %>
                </li>
                <li><%= lesson.created_at.to_s(:datetime) %></li>
                <li>
                  <%= link_to admins_lesson_path(lesson), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"} do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </li>
              </ul>
              <!-- 授業タイトル -->
              <h4 class="media-heading title">
                <%= link_to lesson.title, admins_lesson_path(lesson)%>
              </h4>

              <!-- 授業本文 -->
              <p class="description"><%= lesson.description %></p>

              <!-- 授業情報 -->
              <ul class="list-unstyled list-inline">
                <li><span class="label label-default"><%= lesson.school_type %></span></li>
                <li><span class="label label-default"><%= lesson.grade %></span></li>
                <li><span class="label label-default"><%= lesson.subject %></span></li>
              </ul>

              <hr>
            </div>
          </div>
        <% end %>

        <!-- ページャ -->
        <div class="text-center">
          <%= paginate @lessons %>
        </div>

      </section>
    </div>
  </div>
</div>