<div class="container">
  <div class="row">
    <div class="col-md-2">
    <!-- カテゴリー検索 -->
    <section>
      <%= render 'admins/shared/lesson_category' %>
    </section>
    </div>

     <!-- 授業アイデア一覧 -->
    <div class="col-md-10">
      <section>
        <h2><%= @title %>一覧</h2>
        <span>1~10件表示 (全<%= @lessons.count %>件)</span>

        <% @lessons.each do |lesson| %>
          <div class="media">
            <div class="media-body">
              <!-- ユーザー情報 -->
              <ul class="list-unstyled list-inline">
                <li>
                  <%= link_to admins_user_path(lesson.user_id) do %>
                    <% if lesson.user_deleted?(lesson.user)%>
                      <%= lesson.user.last_name %> <%= lesson.user.first_name %>(退会済)
                    <% else %>
                      <%= lesson.user.last_name %> <%= lesson.user.first_name %>
                    <% end %>
                  <% end %>
                </li>
                <li><%= lesson.created_at.to_s(:datetime) %></li>
                <li></li>
                <li>
                  <%= link_to admins_lesson_path(lesson), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"} do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </li>
              </ul>
              <!-- 授業タイトル -->
              <h4 class="media-heading title">
                <%= link_to lesson.title, admins_lesson_path(lesson)%>
              </h4>

              <!-- 授業本文 -->
              <p class="description"><%= lesson.description %></p>

              <!-- 授業情報 -->
              <ul class="list-unstyled list-inline">
                <li><%= lesson.school_type %></li>
                <li><%= lesson.grade %></li>
                <li><%= lesson.subject %></li>
              </ul>

              <hr>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>