<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <section>
         <%= link_to admins_user_path(@lesson.user_id) do %>
          <div>
            <% if @lesson.user.avatar.attached? %>
              <%= image_tag @lesson.user.avatar.variant(resize: "60x60") %>
            <% else %>
              <%= image_tag("default_user.png", size: "60x60") %>
            <% end %>
          </div>
          <p><%= @lesson.user.family_name + @lesson.user.last_name %></p>
          <p><%= @lesson.user.school_name %></p>
        <% end %>
        <p><%= @lesson.school_type %></p>
        <p><%= @lesson.subject %></p>
        <p><%= @lesson.created_at.to_s(:datetime) %></p>
      </section>
      <section>
        <h1><%= @lesson.title %></h1>
        <% if @lesson.file.attached? %>
          <span>
            <%= link_to  @lesson.file, download: " ", class: "btn btn-secondary" do %>
              <i class="fas fa-paperclip"></i> 資料をダウンロード
            <% end %>
          </span>
        <% end %>
        <p><%= @lesson.description %></p>
        <span>
          <%= link_to "削除する", admins_lesson_path(@lesson), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
        </span>
      </section>
      <section>
        <span>
          <i class="far fa-comments"></i> コメント 全<%= @lesson.lesson_comments.count %>件
        </span>
        <% if @lesson.lesson_comments.any? %>
        <table>
           <% @lesson.lesson_comments.each do |lesson_comment| %>
            <tr>
              <td>
                <%= link_to user_path(lesson_comment.user) do %>
                  <% if lesson_comment.user.avatar.attached? %>
                    <%= image_tag lesson_comment.user.avatar.variant(resize: "50x50") %>
                  <% else %>
                    <%= image_tag("default_user.png", size: "50x50") %>
                  <% end %>
                  <ul>
                    <li>
                      <% if lesson_comment.user_deleted?(lesson_comment.user) %>
                        <p><%= lesson_comment.user.family_name + lesson_comment.user.last_name %> (退会済)<p>
                      <% else %>
                        <p><%= lesson_comment.user.family_name + lesson_comment.user.last_name %><p>
                      <% end %>
                    </li>
                <% end %>
                    <li><%= lesson_comment.created_at.to_s(:datetime) %></li>
                  </ul>
                <p><%= lesson_comment.comment %></p>
                <span>
                  <%= link_to "削除", admins_lesson_comment_path(lesson_comment.id), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"}, class: "btn btn-xs btn-danger" %>
                </span>
              </td>
            </tr>
           <% end %>
        </table>
        <% end %>
      </section>
    </div>
  </div>
</div>