<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'admins/shared/lesson_category' %>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <!-- ユーザについて -->
      <section>
        <div class="media">
          <!-- 退会済みユーザ対応 -->
          <% if @lesson.user_deleted?(@lesson.user) %>
            <%= image_tag "default_user.png", size: "100x100" %>
          <% else %>
            <!-- プロフィール画像 -->
            <% if @lesson.user.avatar.attached? %>
              <%= link_to admins_user_path(@lesson.user), class: "media-left" do %>
                <%= image_tag @lesson.user.avatar.variant(resize: "100x100") %>
              <% end %>
            <% else %>
              <%= link_to admins_user_path(@lesson.user), class: "media-left" do %>
                <%= image_tag "default_user.png", size: "64x64" %>
              <% end %>
            <% end %>
          <% end %>

          <!-- ユーザー情報 -->
          <div class="media-body" >
            <h3 class="media-heading">
              <!-- 退会済みユーザ対応 -->
              <% if @lesson.user_deleted?(@lesson.user) %>
                <%= link_to "#{@lesson.user.last_name} #{@lesson.user.first_name}(退会済)", admins_user_path(@lesson.user) %>
              <% else %>
                <%= link_to "#{@lesson.user.last_name} #{@lesson.user.first_name}", admins_user_path(@lesson.user) %>
              <% end %>
            </h3>
            <p><%= @lesson.user.school_name %></p>
            <ul class="list-unstyled list-inline">
              <li><span class="label label-success"><%= @lesson.school_type %></span></li>
              <li><span class="label label-danger"><%= @lesson.subject %></span></li>
              <li><%= @lesson.created_at.to_s(:datetime) %></li>
            </ul>
          </div>
        </div>
      </section>

        <!-- 授業について -->
      <section>
        <!-- タイトル -->
        <h2>
          <%= @lesson.title %>
        </h2>

        <!-- 添付資料 -->
        <% if @lesson.file.attached? %>
          <div class="text-center">
            <% if @accept_image_types.any?(File.extname(@lesson.file.filename.to_s)) %>
              <%= image_tag @lesson.file %>
            <% end %>
            <%= link_to  @lesson.file, download: " ", class: "btn btn-default btn-sm" do %>
              <i class="fas fa-paperclip"></i> 資料をダウンロード
            <% end %>
          </div>
        <% end %>

        <!-- 本文 -->
        <p><%= @lesson.description %></p>

        <!-- 削除ボタン -->
        <%= link_to admins_lesson_path(@lesson), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"} do %>
          <i class="fas fa-trash-alt"></i> 削除する
        <% end %>
      </section>
      <hr>

      <!-- コメント -->
      <section>
        <span>
          <i class="far fa-comments"></i> コメント 全<%= @lesson_comments.count %>件
        </span>
        <!-- コメント一覧 -->
        <% if @lesson_comments.any? %>
        <% @lesson_comments.each do |lesson_comment| %>
          <div class="media">
            <!-- 退会済ユーザー画像 -->
            <% if lesson_comment.user_deleted?(lesson_comment.user) %>
              <%= link_to "#", class: "media-left" do %>
                <%= image_tag "default_user.png", size: "64x64" %>
              <% end %>
            <!-- 会員ユーザー画像 -->
            <% else %>
              <% if lesson_comment.user.avatar.attached? %>
                <%= link_to admins_user_path(lesson_comment.user), class: "media-left" do %>
                  <%= image_tag lesson_comment.user.avatar.variant(resize: "64x64") %>
                <% end %>
              <% else %>
                <%= link_to admins_user_path(lesson_comment.user), class: "media-left" do %>
                  <%= image_tag "default_user.png", size: "64x64" %>
                <% end %>
              <% end %>
            <% end %>

            <div class="media-body" >
              <!-- ユーザー情報 -->
              <ul class="list-unstyled list-inline">
                <% if lesson_comment.user_deleted?(lesson_comment.user) %>
                  <li>
                    <%= link_to "#{lesson_comment.user.last_name} #{lesson_comment.user.first_name}(退会済)", admins_user_path(lesson_comment.user) %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "#{lesson_comment.user.last_name} #{lesson_comment.user.first_name}", admins_user_path(lesson_comment.user) %>
                  </li>
                <% end %>
                  <li><%= lesson_comment.created_at.to_s(:datetime) %></li>
                  <li>
                    <!-- コメント削除ボタン -->
                    <%= link_to admins_lesson_comment_path(lesson_comment), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"} do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </li>
              </ul>
              <!-- コメント本文 -->
              <p><%= lesson_comment.comment %></p>

            </div>
          </div>
          <hr>
        <% end %>
        <% end %>
      </section>

      <!-- 戻るボタン -->
     <div><%= link_to "戻る", admins_lessons_path %></div>

    </div>
  </div>
</div>