<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <% if @user == current_user %>
      <span><%= link_to "プロフィールを編集する", edit_user_registration_path, class: "btn btn-outline-secondary" %></span>
      <% end %>
      <span><%= link_to "フォロー中の先生を見る", follows_user_path(@user), class: "btn" %></span>
      <span><%= link_to "フォロワーの先生を見る", followers_user_path(@user), class: "btn" %></span>
    </div>
    <div class="col-lg-8">
      <h1>先生プロフィール</h1>
      <div class="profile_image">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "400x300") %>
      <% else %>
        <%= image_tag("default_user.png", size: "400x300") %>
      <% end %>
      </div>
      <ul class="profile-items">
        <li>
          <p><strong><%= @user.family_name+@user.last_name %></strong></p>
          <span><%= render 'shared/follow', user: @user%></span>
        </li>
        <li><p><strong>所属所在地</strong></p>
            <p><%= @user.prefecture %></p>
        </li>
        <li><p><strong>所属</strong></p>
            <p><%= @user.school_name %></p>
        </li>
        <li><p><strong>教科</strong></p>
            <p><%= @user.subject %></p>
        </li>
        <li><p><strong>教員歴</strong></p>
            <p><%= @user.year %>年</p>
        </li>
        <li><p><strong>自己紹介</strong></p>
            <p><%= @user.introduction %></p>
        </li>
      </ul>
    </div>
  </div>
</div>
