<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= link_to "プロフィールを編集する", edit_user_registration_path %>
    </div>
    <div class="col-lg-8">
      <h1>先生プロフィール</h1>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="profile_image">
                <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar.variant(resize: "400x300") %>
                <% else %>
                  <%= image_tag("default_user.png", size: "400x300") %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= @user.family_name+@user.last_name %></th>
          </tr>
          <tr>
            <th>所属所在地</th>
            <td><%= @user.prefecture %></td>
          </tr>
          <tr>
            <th>所属</th>
            <td><%= @user.school_name %></td>
          </tr>
          <tr>
            <th>教科</th>
            <td><%= @user.subject %></td>
          </tr>
          <tr>
            <th>教員歴</th>
            <td><%= @user.year %>年</td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><p><%= @user.introduction %></p><td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>