<div class="container">
  <div class="row">
    <div class="col-md-2">
      <section>
        <div id="user_info_<%= @user.id %>">
          <%= render 'users/shared/user_info', user: @user, total_likes: @total_likes  %>
        </div>
        <% if @user == current_user %>
          <%= render 'users/shared/maybe_friends', users: @users %>
        <% end %>
      </section>
    </div>
    <div class="col-md-10">
      
      <!-- メニュータブ -->
      <section>
        <%= render 'users/shared/mypage_tab', path: @path, user: @user %>
      </section>
      <!-- DMフォーム -->
      <br>
      <section>
        <%= render 'users/shared/message_form', message: @message, user: @user %>
      </section>
      <!-- DM一覧 -->
      <section>

        <!-- 件数 -->
        <p><%= @messages.offset_value %>〜<%= @messages.offset_value + @messages.length %>件を表示 (全 <%= @messages.total_count %> 件)</p>

        <!-- ページャ -->
        <div class="text-center">
          <%= paginate @messages %>
        </div>

        <!-- 全件削除ボタン -->
        <% if @user == current_user %>
          <div>
            <%= link_to delete_all_messages_user_path(@user), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"}, class: "btn btn-default btn-sm" do %>
              <i class="fas fa-trash-alt"></i> 全て削除
            <% end %>
          </div>
          <br>
        <% end %>

        <!-- メッセージ一覧 -->
        <%= render 'users/shared/message_index', messages: @messages %>

        <!-- ページャ -->
        <div class="text-center">
          <%= paginate @messages %>
        </div>

      </section>
    </div>
  </div>
</div>


