<div class="container">
  <div class="row">
    <div class="col-md-2">
      <section>
        <div id="user_info_<%= @user.id %>">
          <%= render 'users/shared/user_info', user: @user, total_likes: @total_likes  %>
        </div>
        <% if @user == current_user %>
          <%= render 'users/shared/maybe_friends', users: @users %>
        <% end %>
      </section>
    </div>
    <div class="col-md-10">
      <section>
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation"><%= link_to "ホーム", user_path(@user) %></li>
          <li role="presentation"><%= link_to "授業アイデア(#{@user.lessons.count})", own_lessons_user_path(@user) %></li>
          <li role="presentation"><%= link_to "悩み相談(#{@user.counsels.count})", own_counsels_user_path(@user) %></li>
          <li role="presentation" class="active"><%= link_to "メッセージ(#{@user.messages.count})", user_messages_path(@user) %></li>
          <li role="presentation"><%= link_to "ブックマーク(#{@user.lesson_bookmarks.count})", lesson_bookmarks_user_path(@user) %></li>
        </ul>
      <!-- DM一覧 -->
        <%= render 'users/shared/message_index', messages: @messages %>
      </section>
      <!-- DMフォーム -->
      <section>
        <%= render 'users/shared/message_form', message: @message %>
      </section>
    </div>
  </div>
</div>


