<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <section>
      <h1>提出内容の確認</h1>
      <%= form_with model: @lesson, local: true do |f| %>
        <div class="field">
          <p>学校種:  <%= @lesson.school_type %></p>
          <%= f.hidden_field :school_type %>
        </div>
        <div class="field">
          <p>学年:  <%= @lesson.grade %></p>
          <%= f.hidden_field :grade %>
        </div>
        <div class="field">
          <p>教科:  <%= @lesson.subject %></p>
          <%= f.hidden_field :subject %>
        </div>
        <div class="field">
          <div style="display: none;">
            <%= f.file_field :file, value: @lesson.file %>
          </div>
          <% if @lesson.file.attached? %>
            <p>添付ファイル:  <%= link_to "資料を見る", @lesson.file %></p>
            <%#= f.hidden_field :file %>
          <% else %>
            <p>アップロード資料:  添付ファイルなし</p>
          <% end %>
        </div>
        <div class="field">
          <p>タイトル:  <%= @lesson.title %></p>
          <%= f.hidden_field :title %>
        </div>
        <div class="field">
          <p>授業について:  <%= @lesson.description %></p>
          <%= f.hidden_field :description %>
        </div>
        <div class="field">
          <p>こちらの内容でよろしいですか？</p>
        </div>
        <span class="actions">
          <%= f.submit "修正する", name: 'back', class: "btn btn-primary" %>
        </span>
        <span class="actions">
          <%= f.submit "提出する", class: "btn btn-success" %>
        </span>
      <% end %>
    </section>
    </div>
  </div>
</div>
