<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/shared/lesson_category' %>
    </div>
    <div class="col-md-8">
      <h1><%= @title %></h1>
      <span>1~10件表示 (全<%= @lessons.count %>件)</span>
      <table class="table">
        <tbody>
          <% @lessons.each do |lesson| %>
          <tr>
              <td>
                <%= link_to lesson_path(lesson) do %>
                  <% if lesson.user_deleted?(lesson.user) %>
                    <p>退会済みの先生<p>
                  <% else %>
                    <% if lesson.user.avatar.attached? %>
                      <%= image_tag lesson.user.avatar.variant(resize: "50x50") %>
                    <% else %>
                      <%= image_tag("default_user.png", size: "50x50") %>
                    <% end %>
                    <ul>
                      <li><%= lesson.user.last_name + lesson.user.first_name %></li>
                      <li><%= lesson.user.school_name %></li>
                      <li><%= lesson.school_type %></li>
                      <li><%= lesson.grade %></li>
                      <li><%= lesson.subject %></li>
                      <li><%= lesson.created_at.to_s(:datetime) %></li>
                    </ul>
                    <span><%= render 'users/shared/lesson_bookmark', lesson: lesson %></span>
                  <% end %>
                  <p><strong><%= lesson.title %></strong></p>
                  <p><%= lesson.description %></p>
                  <span><%= render 'users/shared/lesson_like', lesson: lesson %></span>
                  <% if current_user.own_lesson?(lesson) %>
                    <span><%= link_to "編集する", edit_lesson_path(lesson), class: "btn btn-primary" %></span>
                    <span><%= link_to "削除する", lesson_path(lesson), method: :delete, data: {confirm:"本当に削除してもよろしいですか？"}, class: "btn btn-danger" %></span>
                  <% end %>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>