<div class="container">
  <% if user_signed_in? %>
      <div class="row">
        <div class="user-sidebar col-lg-3">
          <%= render 'users/shared/user_info', user: current_user %>
          <%= render 'users/shared/maybe_friends', users: @users %>
        </div>
        <div class="col-lg-9">
          <section>
            <h1>おすすめ授業</h1>
            <span><%= link_to "▶もっと見る", lessons_path %></span>
            <div class="recommended-class">
              <% @lessons.each do |lesson| %>
                <%= link_to lesson_path(lesson) do %>
                  <ul>
                    <li><%= lesson.title %></li>
                    <li><%= lesson.created_at.to_s(:datetime) %></li>
                    <li><%= lesson.description %></li>
                  </ul>
                  <span><%= lesson.school_type %></span>
                  <span><%= lesson.grade %></span>
                  <span><%= lesson.subject %></span>
                  <sapn><i class="far fa-lightbulb" aria-hidden="true"></i> <%= lesson.lesson_likes.count %></sapn>
                  <sapn><i class="far fa-comments"></i> <%= lesson.lesson_comments.count %></sapn>
                <% end %>
              <% end %>
            </div>
          </section>
          <section>
            <h1>悩み相談(coming soon...)</h1>
            <span><%= link_to "▶もっと見る", "#" %></span>
          </section>
        </div>
      </div>
      <% else %>
coming soon
  <% end %>
</div>
