<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <!-- サイドメニュー -->
      <div class="col-md-2 text-left">
        <section>
          <table class="table table-hover">
            <thead>
              <tr class="warning">
                <th>
                  <%= link_to lessons_path do %>
                    <i class="fas fa-book-open"></i> 授業アイデア
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @lesson_subjects.each do |subject| %>
                <tr>
                  <td>
                    <%= link_to category_lessons_path(subject: subject) do %>
                      <%= subject %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p class="text-right"><%= link_to "▶もっと見る", lessons_path %></p>
          <table class="table table-hover">
            <thead>
              <tr class="info">
                <th>
                  <%= link_to counsels_path do %>
                    <i class="fas fa-comment-medical"></i> 悩み相談
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @counsel_categories.each do |category| %>
              <tr>
                <td>
                  <%= link_to category_counsels_path(category: category) do %>
                    <%= category[:category] %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <p class="text-right"><%= link_to "▶もっと見る", counsels_path %></p>
          <table class="table table-hover">
            <thead>
              <tr class="success">
                <th>
                  <%= link_to users_path  do %>
                    <i class="fas fa-search"></i> 教員仲間を探す
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @school_types.each do |school_type| %>
              <tr>
                <td>
                  <%= link_to category_users_path(school_type: school_type) do %>
                    <%= school_type %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </thead>
          </table>
          <p class="text-right"><%= link_to "▶もっと見る", users_path %></p>
        </section>
      </div>
      <!-- おすすめ授業アイデア -->
      <div class="col-md-7">
      <section>
          <h1>おすすめ授業</h1>
          <span><%= link_to "▶もっと見る", lessons_path %></span>
          <div class="row">
            <% @lessons.each do |lesson| %>
            <div class="recommended-lesson-box col-md-4">
              <%= link_to lesson_path(lesson) do %>
                  <p class="lesson-title"><%= lesson.title %></p>
              <% end %>
                  <p class="lesson-time"><%= lesson.created_at.to_s(:datetime) %></p>
                  <p class="lesson-description"><%= lesson.description %></p>
                  <p class="lesson-icons">
                <span><%= lesson.school_type %></span>
                <span><%= lesson.grade %></span>
                <span><%= lesson.subject %></span>
                <sapn><i class="far fa-lightbulb" aria-hidden="true"></i> <%= lesson.lesson_likes.count %></sapn>
                <sapn><i class="far fa-comments"></i> <%= lesson.lesson_comments.count %></sapn>
                  </p>
            </div>
            <% end %>
          </div>
        </section>
        <!-- 悩み相談 -->
        <section>
            <h1>新着悩み相談</h1>
            <span><%= link_to "▶もっと見る", counsels_path %></span>
            <div class="counsel-box">
              <% @counsels.each do |counsel| %>
                <div class="counsel-list">
                  <p class="counsel-title"><%= counsel.title %></p>
                  <p class="counsel-description"><%= counsel.description %></p>
                  <hr>
                </div>
              <% end %>
            </div>
        </section>
          </div>
      <!-- ユーザーサイドバー -->
      <div class="col-md-3">
      <section>
        <div class="own-info-sidebar">
          <%= render 'users/shared/own_info', user: current_user %>
        </div>
        <div class="maybe-friends-sidebar">
          <%= render 'users/shared/maybe_friends', users: @users %>
        </div>
      </section>
      </div>

      </div>
    </div>
  </div>
<% else %>
<!-- スライド -->
  <section>
    <div class="container">
    <div class="row  guest-top" id="theTarget">
      <div class="about-image1">
        <p class="about-body">
          教育を共有する。<br>
          それが今の教育現場には必要です。<br>
          先生一人ひとりの取り組みを<br>
          日本中の子どもたちへ広げよう。<br>
          TEACHERS' SHARESは教育をつなげます。
        </p>
        <span class="registration-btn">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-sm btn-success" %>
        </span>
      </div>
      <div class="about-image2">
        <h3 class="about-title">TEACHERS' SHARESとは？</h3>
        <p class="about-body">
          TEACHERS' SHARESは授業のアイデアを共有するためのサイトです。<br>
          ①授業アイデアの共有<br>
          ②悩みの相談<br>
          ③全国の先生とつながる<br>
        </p>
        <span class="registration-btn">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-sm btn-success" %>
        </span>
      </div>
      <div class="about-image3">
        <h3 class="about-title">TEACHERS' SHARESでできることは？</h3>
        <p class="about-body">
          授業アイデアを共有することができます。<br>
          ①日々の授業でうまくいった実践を投稿できます。<br>
          ②資料や教材をアップロードできます。<br>
          ③投稿された授業アイデアは閲覧できます。<br>
          ④資料や教材はダウンロードすることができ、明日の授業にすぐに使えます。
        </p>
        <span class="registration-btn">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-sm btn-success" %>
        </span>
      </div>
      <div class="about-image4">
        <h3 class="about-title">TEACHERS' SHARESでできることは？</h3>
        <p class="about-body">
          全国の先生たちに悩みを相談することができます。<br>
          ①日々の職場での悩みを投稿できます。<br>
          ②全国の先生から悩みに対してアドバイスの返信をもらえます。<br>
          ③他の先生の悩みやアドバイスを閲覧できます。
        </p>
        <span class="registration-btn">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-sm btn-success" %>
        </span>
      </div>
      <div class="about-image5">
        <h3 class="about-title">TEACHERS' SHARESでできることは？</h3>
        <p class="about-body">
          サイトを通じて全国の先生とつながることができます。<br>
          ①近隣の学校の先生を探すことができます。<br>
          ②他の先生をフォローすることができ、先生の輪を広げることができます。<br>
        </p>
        <span class="registration-btn">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-sm btn-success" %>
        </span>
      </div>
    </div>
  </div>
</section>
<!-- サイト特徴 -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="feature-headline">TEACHERS' SHARESの特徴</h2>
      </div>
      <div class="col-md-4">
        <h3 class="feature-title">授業アイデアの共有</h3>
          <p class="feature-body">
            日々の授業実践を投稿でき、<br>
            投稿された授業は閲覧できます。<br>
            明日の授業にすぐに役立ちます。
          </p>
      </div>
      <div class="col-md-4">
        <h3 class="feature-title">悩みの相談</h3>
          <p class="feature-body">
            日々の悩みを投稿できます。<br>
            全国の先生からアドバイスをもらえます。<br>
            様々な意見をもらえ、悩みの解消につながります。
          </p>
      </div>
      <div class="col-md-4">
        <h3 class="feature-title">全国の先生とつながる</h3>
          <p class="feature-body">
            参加している先生の一覧を見たり、<br>
            先生を検索することができます。<br>
            フォローすることで教員の輪が広がります。
          </p>
      </div>
    </div>
  </div>
</section>
<!-- サイト紹介 -->
<section>
  <div class="container about">
    <div class="row">
      <div class="about-image1">
        <p class="about-body">
          教育を共有する。<br>
          それが今の教育現場には必要です。<br>
          先生一人ひとりの取り組みを<br>
          日本中の子どもたちへ広げよう。<br>
          TEACHERS' SHARESは教育をつなげます。
        </p>
      </div>
      <div class="about-image2">
        <h3 class="about-title">TEACHERS' SHARESとは？</h3>
        <p class="about-body">
          TEACHERS' SHARESは授業のアイデアを共有するためのサイトです。<br>
          ①授業アイデアの共有<br>
          ②悩みの相談<br>
          ③全国の先生とつながる<br>
        </p>
      </div>
      <div class="about-image3">
        <h3 class="about-title">TEACHERS' SHARESでできることは？</h3>
        <p class="about-body">
          授業アイデアを共有することができます。<br>
          ①日々の授業でうまくいった実践を投稿できます。<br>
          ②資料や教材をアップロードできます。<br>
          ③投稿された授業アイデアは閲覧できます。<br>
          ④資料や教材はダウンロードすることができ、明日の授業にすぐに使えます。
        </p>
      </div>
      <div class="about-image4">
        <h3 class="about-title">TEACHERS' SHARESでできることは？</h3>
        <p class="about-body">
          全国の先生たちに悩みを相談することができます。<br>
          ①日々の職場での悩みを投稿できます。<br>
          ②全国の先生から悩みに対してアドバイスの返信をもらえます。<br>
          ③他の先生の悩みやアドバイスを閲覧できます。
        </p>
      </div>
      <div class="about-image5">
        <h3 class="about-title">TEACHERS' SHARESでできることは？</h3>
        <p class="about-body">
          サイトを通じて全国の先生とつながることができます。<br>
          ①近隣の学校の先生を探すことができます。<br>
          ②他の先生をフォローすることができ、先生の輪を広げることができます。
        </p>
      </div>
    </div>
  </div>
</section>
<!-- 新規会員登録 -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="call-to-action">さぁ、あなたも始めましょう！</h2>
        <span class="call-to-action-btn">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-sm btn-success" %>
        </span>
      </div>
    </div>
  </div>
</section>
<% end %>
</div>
