<!DOCTYPE html>
<html>
  <head>
    <title>TeachersShares</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-3">
            <h3 class="logo"><%= link_to "TEACHERS' SHARES", root_path %></h3>
            <p class="sub-title">先生のアイデア共有サイト</p>
          </div>
            <% if admin_signed_in? %>
              <div class="col-md-7 search-bar">
                <%= render 'admins/shared/search_form' %>
              </div>
              <div class="col-md-2">
                <span class=" session-btn"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-primary" %></span>
              </div>
            <% elsif user_signed_in? %>
              <div class="col-md-7 search-bar">
                <%= render 'users/shared/search_form' %>
              </div>
              <div class="col-md-2 session-btn">
                <span class=" session-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary" %></span>
              </div>
            <% else %>
              <div class="col-md-4 col-md-offset-5 session-btn">
                <span class=" session-btn"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-sm btn-success" %></span>
                <span class=" session-btn"><%= link_to "ログイン", new_user_session_path, class: "btn btn-sm btn-primary" %></span>
              </div>
            <% end %>
          </div>
        </div>
      </header>
        <nav>
          <% if admin_signed_in? %>
            <ul class="nav-list">
              <li class="nav-list-item"><%= link_to "トップ", admins_admin_top_path %></li>
              <li class="nav-list-item"><%= link_to "先生一覧", admins_users_path %></li>
              <li class="nav-list-item"><%= link_to "授業一覧", admins_lessons_path %></li>
              <li class="nav-list-item"><%= link_to "悩み相談一覧", admins_counsels_path %></li>
            </ul>
          <% elsif user_signed_in? %>
            <ul class="nav-list">
              <li class="nav-list-item"><%= link_to "トップ", root_path %></li>
              <li class="nav-list-item"><%= link_to "授業アイデア", lessons_path %></li>
              <li class="nav-list-item"><%= link_to "悩み相談", counsels_path %></li>
              <li class="nav-list-item"><%= link_to "つながる", users_path %></li>
              <li class="nav-list-item"><%= link_to "マイページ", user_path(current_user) %></li>
            </ul>
          <% end %>
        </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <p><%= link_to "TEACHERS' SHARESとは？", "#"%> | お問い合わせ | 運営会社 | 利用規約 | サイトマップ</p>
    </footer>

    <script src="https://kit.fontawesome.com/22bae51414.js" crossorigin="anonymous"></script>

  </body>
</html>
