<!DOCTYPE html>
<html>
  <head>
    <title>TeachersShares</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- 管理者画面 -->
      <% if admin_signed_in? %>
      <nav class="navbar navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to admins_home_path do %>
              <%= image_tag "logo.png", size: "300x60" %>
            <% end %>
          </div>

          <div class="collapse navbar-collapse" id="top-nav">
            <ul class="nav navbar-nav">
              <li><%= link_to "授業", admins_lessons_path %></li>
              <li><%= link_to "悩み相談", admins_counsels_path %></li>
              <li><%= link_to "先生", admins_users_path %></li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete%>
              </li>
            </ul>

            <!-- 検索バー -->
            <div>
              <%= render 'admins/shared/search_form' %>
            </div>            

          </div>
        </div>
      </nav>

      <!-- ユーザー画面 -->
      <% elsif user_signed_in? %>

        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to root_path do %>
                <%= image_tag "logo.png", size: "200x50" %>
              <% end %>
            </div>

            <div class="collapse navbar-collapse" id="top-nav">
              <ul class="nav navbar-nav">
                <li><%= link_to "マイページ", user_path(current_user) %></li>
                <li><%= link_to "授業アイデア", lessons_path %></li>
                <li><%= link_to "悩み相談", counsels_path %></li>
                <li><%= link_to "先生を探す", users_path %></li>
              </ul>

              <!-- 検索バー -->
              <div class="text-right"><%= render 'users/shared/search_form' %></div>

            </div>
          </div>
        </nav>
      <!-- ビジター画面 -->
      <% else %>
        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to root_path do %>
                <%= image_tag "logo.png", size: "300x60" %>
              <% end %>

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="top-nav">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to  new_user_registration_path do %>
                    <i class="fas fa-user-plus"></i> 新規会員登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path do %>
                      <i class="fa fa-sign-in"></i>  ログイン
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <% end %>
    </header>
    <% if notice%>
      <p class="success-message"><%= notice %></p>
    <% elsif alert %>
      <p class="failure-message"><%= alert %></p>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <% unless admin_signed_in? %>
      <div class="container-fluid">
        <p> お問い合わせ | 運営会社 | 利用規約 | サイトマップ</p>
      </div>
      <% end %>
    </footer>

    <script src="https://kit.fontawesome.com/22bae51414.js" crossorigin="anonymous"></script>

  </body>
</html>
