<div class="container">
  <div class="row">
      <h2>新規先生登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :last_name, "姓" %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "姓",  class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :first_name, "名" %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "名",class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :school_type, "学校種" %><br />
        <%= f.radio_button :school_type, :小学校, checked:"checked" %>
        <%= f.label :小学校 %>
        <%= f.radio_button :school_type, :中学校  %>
        <%= f.label :中学校 %>
        <%= f.radio_button :school_type, :高等学校  %>
        <%= f.label :高等学校 %>
      </div>

      <div class="field">
        <%= f.label :prefecture, "所属都道府県" %><br />
        <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
      </div>

      <div class="field">
        <%= f.label :school_name, "所属" %><br />
        <%= f.text_field :school_name, autofocus: true, autocomplete: "school_name", :placeholder => "所属学校名", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :subject, "教科" %><br />
        <%= f.select :subject, User.subjects.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
      </div>

      <div class="field">
        <%= f.label :year, "教員歴" %><br />
        <%= f.select :year, options_for_select((1..40).to_a), {prompt: '選択'}  %>年
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "teachers@shares.com" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード(6文字以上)" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>